[board_pins toolhead_manufacturer]
mcu: toolhead
aliases:
    E_STEP=PD0 , E_DIR=PD1 , E_ENABLE=PD2 , E_UART=PA15 ,

    MCU_ENDSTOP1=PB6 , MCU_ENDSTOP2=PB5 , MCU_ENDSTOP3=PB7 ,
    MCU_PROBE=PB8 ,
    MCU_SERVOS=PB9 ,

    E_HEATER=PB13 ,
    E_TEMPERATURE=PA3 ,

    MCU_FAN1=PA0 , MCU_FAN2=PA1 ,

    STATUS_NEOPIXEL=PD3 ,

    MCU_SPI1_CS=PA4  , MCU_SPI1_SCLK=PA5  , MCU_SPI1_MISO=PA6 , MCU_SPI1_MOSI=PA7  ,
    ADXL_CS=PB12 , ADXL_SCLK=PB10 , ADXL_MISO=PB2 , ADXL_MOSI=PB11 

# [temperature_sensor CANBOARD]
# sensor_type: temperature_mcu
# sensor_mcu: toolhead